[user]
    name = Paul Kiernan
    email = paul.kiernan@moat.com

[core]
    editor = vim
    excludesfile = .gitignore

[alias]
    st = status --short
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    ff = merge --ff-only
    mg = merge --no-ff
    pl = pull --ff-only
    gl  = log -16 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cr
    gll = log     --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cr

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[diff]
    algorithm = patience

[gc]
    auto=1

[merge]
    summary=true
