[user]
	name = Server Side Commit
	email = servers@moat.com
[alias]
	st = status --short
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	ff = merge --ff-only
	mg = merge --no-ff
	pl = pull --ff-only
[color]
  ui = true
